[Unit]
Description=BootControl D-Bus Daemon
Documentation=https://github.com/szymonpaczos/bootcontrol
Requires=bootcontrold.socket

[Service]
Type=notify
ExecStart=/usr/bin/bootcontrold
User=root
Group=root
IdleTimeoutSec=60

# Security constraints
ProtectSystem=full
ProtectHome=yes
RestrictNamespaces=yes

[Install]
WantedBy=multi-user.target
